<%- include("header") -%>

<h1 style="color: black;">This is my about page.</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo id at nihil culpa laborum. Nesciunt atque consequatur ex! Deleniti beatae minus mollitia obcaecati quibusdam iure, esse architecto fugiat vero voluptatum ipsum ex assumenda et.</p>

<%- include("footer") -%>